.spot-details {
  /* Set the size of the container */
  width: 80%;
  /* max-width: 1200px; */

  /* Center the container on the page */
  margin: 0 auto;

  /* Add some space around the container */
  padding: 20px;

  /* Center the contents of the container */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spot-details button {
  background-color: #70C1B3;
  border-radius: 10px;
  outline: #70C1B3;

  min-height: 50px;
  border-color: #70C1B3;

  /* width: 100% */
}

.secondary-details {
  width: 100%
}

.review-and-location-and-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-spot-delete-spot-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.edit-spot-delete-spot-buttons-container button {
  margin-left: 40px;
  box-sizing: border-box;
  background: transparent;
  /* outline: 0; */
  border-color: transparent;
  outline: none;
  white-space: nowrap;
  height: 100%;
  text-decoration: underline;
  font-weight: 500;

  padding: 0px;
}

.review-and-location {
  /* Make the container a flex container */
  display: flex;
  width: 100%;

  /* Align the items on the same line */
  align-items: center;

  /* Set the direction of the items to be on the same line */
  flex-direction: row;

}


.images {

  display: flex;
  width: 100%;
  height: 30%;
  max-height: 500px;

  /* border-radius: 25px; */

  overflow: hidden;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  margin-top: 25px;
  margin-bottom: 25px;

}


.preview-image-container {

  max-height: 500px;
  min-height: 500px;
  height: 100%;

  box-sizing: border-box;

  overflow: hidden;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  object-fit: cover !important;
  object-position: center;
}

.preview-image-container img {
  width: 100%;
  min-height: 500px;
  object-fit: cover !important;
}

.preview-image img {

  object-fit: cover !important;
  object-position: center;

  padding: 10px !important;

  box-sizing: border-box;

  /* width: 100%;
    height: 100%; */

  max-height: 100%;
  /* max-width: 100%; */

  object-fit: contain !important;
  object-position: center;


}

.secondary-images-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 5px;
  overflow-x: scroll;
  overflow: hidden;

  justify-content: space-around;


  max-width: 50%;
  max-height: 500px;
  min-height: 500px;
}

.secondary-image-container {

  height: 250px;
  width: 49%;

  object-fit: cover;
  object-position: center;


  box-sizing: border-box;

  max-width: 100%;

}

.secondary-image {
  width: 100%;
  height: 100%;

  max-height: 100%;
  max-width: 100%;

  object-fit: cover !important;
  object-position: center;
  box-sizing: border-box;
  display: block;

}

.secondary-image-container img {
  width: 100%;
  object-fit: cover !important;

}

.secondary-image img {
  width: 100%;
  height: 100%;

  max-height: 100%;
  max-width: 100%;

  object-fit: cover !important;
  /* object-position: center; */

  padding: 5px !important;

  box-sizing: border-box;
  display: block;


}


.review-stats {

  margin-right: 20px;

  display: flex;

  flex-direction: row;

  align-items: center;

  /* justify-content: space-between; */

}

.review-stats i {
  /* Set the size and color of the star icon */
  font-size: 24px;
  color: #70C1B3;

  margin-right: 10px;
}

.review-stats p {
  /* Set the font size and weight of the rating */
  font-size: 18px;
  font-weight: bold;
}

.location-details p {
  /* Set the font size and weight of the location details */
  font-size: 16px;
  font-weight: bold;

  /* Add some space between the location details */
  margin: 0 5px;
}

.host-details-and-description-and-pricing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.host-details-and-description-container {
  display: flex;
  flex-direction: column;
}

.host-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.host-details h1 {
  font-size: 46px;
}

.pricing-details-container {
  border: 1px solid #222222;
  padding: 25px;
  border-radius: 25px;

  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 0px;
  margin-left: 80px;

  height: 100%;
  min-width: 20%;

  /* position:sitcky ; */
}

.pricing-details-container .pricing-and-reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.pricing-details-container .pricing-number {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
}

.pricing-details-container h4 {
  font-weight: normal;
}

.pricing-details-container .review-stats {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.pricing-details-container .review-stats i {
  color: #70C1B3;
}

.reviews-container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.review-container {
  border: 1px solid #222222;
  border-radius: 25px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviews-container .review-stars {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
}

.reviews-container .review-stars i {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 10px;
}

.reviews-container .review-user-name-and-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

.reviews-container .review-user-name-and-avatar p {

  font: bold;

}


.reviews-container .review-user-name-and-avatar h2 {
  margin: 0;
}


.border-bottom-right {
  border-bottom-right-radius: 25px;
}

.border-top-right {
  border-top-right-radius: 25px;
}

.spot-details-comp hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.add-review-button-container {
  margin-top: 25px;
}
