/* .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;


}

.search-bar form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

.search-bar .input {
  border-radius: 40px;
  border-color: #dbdbdb;
  font-size: 1.25rem;
}

.search-bar .buttons {
  display: flex;
  justify-content: center;
}

.search-bar .button {
  border-radius: 40px;
  height: 3.5rem;
  font-size: 1.25rem;
} */

.search-bar {
  align-self: center;
}
.search-btn {
  min-width: 130px;
}

@media (max-width: 1399.98px) {
  .search-bar {
    max-width: 700px;
  }
}

@media (max-width: 1199.98px) {
  .search-bar-full {
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767.98px) {
  .search-bar {
    max-width: 100%;
  }
  .search-bar {
    display: flex;
    width: 95%;
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
  .search-input-wrap {
    width: 90%;
  }
  .search-wrap {
    width: 100%;
  }
  .search-icon-wrap {
    width: 10%;
  }
  .search-btn {
    min-width: auto;
  }
}
@media (max-width: 575.98px) {
  .search-input-wrap {
    width: 85%;
  }
}
