.form-component {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  /* .name,
  .address,
  .city,
  .state,
  .country,
  .lat,
  .lng,
  .description,
  .price,
  .preview-image label{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 5px 0;
  } */

  label {
    font-weight: bold;

    /* margin-right: 5px; */
  }

  input {
    padding: 5px;
    accent-color: #70C1B3;
  }

  input[type="submit"] {
    background-color: #70C1B3;
    border-radius: 10px;
    outline: #70C1B3;

    min-height: 50px;
    border-color: #70C1B3;
  }

  p.error {
    color: red;
    margin: 5px 0;
  }

  input[type="submit"] {
    margin-top: auto;
  }

  .preview-image-preview-img img {
    max-width: 300px;
    max-height: 300px;
  }
