.reviews-details-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.reviews-details-comp .reviews-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviews-details-comp .reviews-container .review-container {

    min-width: 600px;
    /* min-height: 500px; */
    padding: 20px;
    margin: 20px;
}

.reviews-details-comp .reviews-container button {
    margin: 10px 10px 10px 0px;

    background-color: #70C1B3;
    border-radius: 10px;
    outline: #70C1B3;

    min-height: 50px;
    border-color: #70C1B3;
}
