.slick-arrow::before,
.slick-dots li.slick-active button:before {
  color: #70C1B3;
}

.review-text { 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 5; 
  -webkit-box-orient: vertical;
}

.review-box {
  height: 350px;
}