.spots-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    width: 95%;

    margin-left: auto;
    margin-right: auto;
  }

  .spot-container {
    display: flex;
    width: 280px;
    height: 370px;
    align-items: flex-start;
    justify-content: space-around;

    margin: 12px;
    display: block;

    box-sizing: border-box;

    display: block;

  }

  .spots-list a {
    text-decoration: none;
  }



  .spot-container .spot-details-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    box-sizing: border-box;

    display: block;

  }

  .spots-list .spot-image-container {
    width: 280px;
    height: 280px;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 25px;

    box-sizing: border-box;

    display: block;
  }

  .spots-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }


  .spot-details-review-price-location {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

  }

  .spot-details-review-price-location .review-location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5px; */
    padding: 0;

    box-sizing: border-box;

  }

  .spot-details-review-price-location .spot-details-avg-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 2px;

    box-sizing: border-box;
    margin: 0px;

  }

  .spot-details-review-price-location .spot-details-avg-rating i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 7px;
    margin-top: 0px;
  }

  .spot-details-review-price-location .spot-details-price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }

  .spot-details-review-price-location .spot-details-price p {
    margin: 0;
    padding: 0;

  }

  .spot-details-review-price-location .spot-details-price .price-number {
    font-weight: 600;
    margin-right: 7px;
  }
