.spots-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    width: 95%;

    margin-left: auto;
    margin-right: auto;
  }

  .spot-container {
    display: flex;
    width: 400px;
    height: 400px;
    align-items: flex-start;
    justify-content: space-around;

  }

  .spots-list a {
    text-decoration: none;
  }

  .spots-list div {
    width: auto;
    height: auto;
    /* margin: 16px; */
    /* padding: 10px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #ccc; */
    border-radius: 25px;
  }

  .spots-list img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
  }


  .spots-list h4 {
    margin: 0;
    padding: 8px 16px;
    background: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .spots-list p {
    margin: 0;
    padding: 8px 16px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }
