ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    font-weight: 600
  }

  li {
    display: block;
    margin: 0 10px;
  }

  .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #list-your-home .right-side .list-your-home-p {
    font-size: 12px;
  }

  .logoName {
    display: flex;
    align-items: center;
    color: #70C1B3;
    font-size: 28px;
  }

  .logoName i {
    padding-right: 10px;

  }

  .logoName p {
    font-weight: 800;
    color: #70C1B3;
  }

  .list-your-home {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: #222222;
    font-size: 18px;
  }

  button {
    font-size: 18px;
    color: #222222;
    background: transparent;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    padding: 5px 20px
  }

  button i {
    padding: 5px
  }

  .profile-dropdown {
    position: absolute;

    display: flex;
    flex-direction: column;
    /* top: 60px; */
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    background: white;

    height: auto;

    border-bottom: .5px solid #DDDDDD;
    border-left: .5px solid #DDDDDD;
    border-right: .5px solid #DDDDDD;
    border-top: .5px solid #DDDDDD;
    border-radius: 5px;
  }

  .hidden {
    display: none;
  }

  .profile-dropdown li {
    padding: 10px;
    font-size: 18px;
    font-weight: 500
  }

  .profile-dropdown button {
    width: 100%;
    background: transparent;
    border: none;
    color: #222222;
    /* border-radius: 25px; */
    /* font-size: 32px; */
  }

  .logout-button button {
    width: 100%;
    background: transparent;
    border: none;
    color: #222222;
    /* border-radius: 25px; */
    /* font-size: 32px; */

    background-color: #70C1B3;
    border-radius: 10px;
    outline: #70C1B3;

    min-height: 50px;
    border-color: #70C1B3;

  }
