ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    font-weight: 600
  }

  li {
    display: block;
    margin: 0 10px;
  }

  a {
    text-decoration: none;
    color: #222222;
    font-size: 18px;
  }

  button {
    font-size: 18px;
    color: #222222;
    background: transparent;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    padding: 5px 20px
  }

  button i {
    padding: 5px
  }

  .profile-dropdown {
    position: absolute;
    /* top: 60px; */
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    background: white;

    border-bottom: .5px solid #DDDDDD;
    border-left: .5px solid #DDDDDD;
    border-right: .5px solid #DDDDDD;
    border-top: .5px solid #DDDDDD;
    border-radius: 5px;
  }

  .hidden {
    display: none;
  }

  .profile-dropdown li {
    padding: 10px;
    font-size: 18px;
    font-weight: 500
  }

  .profile-dropdown button {
    width: 100%;
    background: transparent;
    border: none;
    color: #222222;
    font-size: 32px;
  }
