.navbar-menu.is-active {
  display: block;
}

.navbar-profile-menu {
  display: none;
  box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
}

.navbar .logo {
  font-weight: 800;
  color: #70C1B3;
  font-size: 28px;
}

.navbar-brand, 
.navbar-menu {
  border-bottom: 1px solid #ebebeb;
}

.navbar-profile-menu.is-active {
  display: block;
}

.navbar-menu.is-active span:first-child {
  transform: translateY(5px) rotate(45deg);
}

.navbar-menu.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navbar-menu.is-active .buttons {
  display: block;
}

.navbar-menu.is-active .buttons .button {
  border: none;
  display: block;
  color: #363636;
  text-align: left;
}

.navbar-menu.is-active .buttons .button:first-of-type {
  margin-right: 0;
}

.navbar-menu.hidden-first {
  display: none;
}

.navbar-menu.hidden-first.is-active {
  display: block;
}

a.navbar-item:hover {
  color: #70C1B3;
}
