
  #modal-content {
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #modal-content h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
  }

  #modal-content ul {
    display: none;
  }

  form > * {
    padding: 10px;
    margin: 20px;
    padding-bottom: 10px
  }

  form br {
    display: none;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px
  }

  form label {
    padding: 10px;
  }

  form input {
    margin-left: 20px;
    margin-top: 20px
  }

  form button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
  }
