
  #modal-content {
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #modal-content h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  #modal-content ul {
    display: none;
  }

  form > * {
    /* align-items: flex-start; */
    /* padding: 10px; */
    margin: 25px 0px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  form br {
    display: none;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px
  }

  form label {
    margin-top: 10px;
    /* padding: 10px; */
  }

  form input {
    /* margin-left: 20px; */
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .demo-button,
  form button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;

    margin: 20px 0px;

    background-color: #70C1B3;
    border-radius: 10px;
    outline: #70C1B3;

    min-height: 50px;
    border-color: #70C1B3;

    width: 100%

  }
